// YOU MUST USE BEM HERE
// IMPLEMENT ALL THE RULES RELATED TO THE COMPONENTS THAT ARE PART OF YOUR DESIGN SYSTEM HERE 
// Example: input, button, card ...
// The css the  pages has in common?

$blue: #06BEFB;
$darkblue: #0063FB;
$stone: #767676;
$licorice: #464646;
$sardine: #C3CCD9;

* {    
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}